img {
    width: 100%;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: grey;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.dot{
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    background-color: greenyellow;
}



.fade{
    animation-name:fade;
    animation-duration:1.5s;
}

@keyframes fade{
    from{
        opacity: 0.4;
    }

    to{
        opacity: 1
    }
}

.point{
    background-color: grey;
}

.active, .dot:hover{
    background-color: greenyellow;
}

























